.rs-slider-progress-bar{
    background-color: red !important;
}
.rs-slider-handle::before{
    background-color: red;
    border: unset;
    box-shadow: unset;
}

.rs-slider-handle:hover{
    border: unset;
}

.ranger-container{
    border: solid 1px #8080804a;
    height: 48px;
    width:300px ;
    box-shadow: 0px 1px 5px 0px rgb(0 0 0 / 10%);}

.ranger-title{
    font-size: 13px;
    font-weight: 700;
    font-family: system-ui;
    color: #374151;
}

.ranger-values{
    display: flex;
    justify-content: space-around;
}

.ranger-values p {
    margin: unset;
}