
.about-section{
	width: 100%;
	min-height: 100vh;
	/* background-color: #ddd; */
	font-family: "Nunito Sans", sans-serif;
}
.about-container{
	width: 80%;
	display: block;
	margin:auto;
	padding-top: 100px;
}
.about-content-section{
	float: left;
	width: 55%;
}
.about-image-section{
	float: right;
	width: 40%;
}
.about-image-section img{
	width: 100%;
	height: auto;
}
.about-content-section .about-title h1{
	
    text-transform: uppercase;
    display: inline-block;
    padding: 5px 20px;
    position: relative;
    font-weight: 600;
    font-size: 15px;
    background-color: #cf1216;
    color: #ffffff;

}
.about-content-section .about-content h3{
	margin-top: 20px;
	color:#5c5d5d;
	font-size: 21px;
}
.about-content-section .about-content p{
	margin-top: 10px;
	font-size: 18px;
	line-height: 1.about-5;
	color:#5c727d;

}
.about-content-section .about-content .about-button{
	margin-top: 30px;
}
.about-content-section .about-content .about-button a{
	background-color: #3d3d3d;
	padding:12px 40px;
	text-decoration: none;
	color:#fff;
	font-size: 25px;
	letter-spacing: 1.5px;
}
.about-content-section .about-content .about-button a:hover{
	background-color: #a52a2a;
	color:#fff;
}
.about-content-section .about-social{
	margin: 40px 40px;
}
.about-content-section .about-social i{
	color:#a52a2a;
	font-size: 30px;
	padding:0px 10px;
}
.about-content-section .about-social i:hover{
	color:#3d3d3d;
}
@media screen and (max-width: 768px){
	.about-container{
	width: 80%;
	display: block;
	margin:auto;
	padding-top:50px;
}
.about-content-section{
	float:none;
	width:100%;
	display: block;
	margin:auto;
}
.about-image-section{
	float:none;
	width:100%;
	
}
.about-image-section img{
	width: 100%;
	height: auto;
	display: block;
	margin:auto;
}
.about-content-section .about-title h1{
    display: inline-block;
    padding: 5px 20px;
    border-radius: 25px;
    position: relative;
    font-weight: 600;
    font-size: 15px;
    background-color: #a52a2a;
}
.about-content-section .about-content .about-button{
	text-align: center;
}
.about-content-section .about-content .about-button a{
	padding:9px 30px;
}
.about-content-section .about-social{
	text-align: center;
}

}







